<!DOCTYPE html>
<html>
<body>

<h3>Remote Console: {{ peer }} </h3>
<p>Enter commands in the window below.</p>
<textarea id="myInput" name="w3review" rows="4" cols="50"></textarea>
<h5 id="output">{{ peer }}@{{ hname }}:/home{{ hname }}/~$ </h5>

<script>

var input = document.getElementById("myInput");
input.addEventListener("keyup", function(event) {
  if (event.keyCode === 13) {
   event.preventDefault();
   document.getElementById("myInput").innerHTML = "$";
   document.getElementById("output").innerHTML = "TODO make this execute commands";
   
  }
});
</script>

</body>
</html>
