<!DOCTYPE html>
<html>
<title> {{ name }} </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style type="text/css">
  
  /* Footer */
.footer {
  padding: 5px;
  bottom: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  background: #{{ dash_hex }};
  color: {{ uname_color }};
  font-family: 'Galada';
  font-size: 22px;
  margin-top: 5px;
}
body {  background-color: #f1f1f1; }
</style>
<body>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-container">
  <h2> {{ name }} Info</h2>

  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey">
      <h3>Hostname: {{ hostname }}</h3>
    </header>
    <div class="w3-container">
      <p>{{ peer }} has no active jobs.</p>
      <hr>
      <img src="../{{ avatar }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
      <p>Internal IP Address: {{ internal }} </p>
      <p>External IP Address: {{ external }} </p>
      <p>Hosting {{ n_files }} Files</p>
      <br>
    </div>
    <button class="w3-button w3-block w3-dark-grey">+ <a href="/Console/{{ name }}">Connect to Machine</a></button>
  </div>
</div>

</body>

</html>